<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Userregister</servlet-name>
    <servlet-class>controllers.Userregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userregister</servlet-name>
    <url-pattern>/Userregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hosregister</servlet-name>
    <servlet-class>controllers.Hosregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hosregister</servlet-name>
    <url-pattern>/Hosregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>controllers.Userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hoslogin</servlet-name>
    <servlet-class>controllers.Hoslogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hoslogin</servlet-name>
    <url-pattern>/Hoslogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBlood</servlet-name>
    <servlet-class>controllers.AddBlood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBlood</servlet-name>
    <url-pattern>/AddBlood</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bloodtable</servlet-name>
    <servlet-class>controllers.Bloodtable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bloodtable</servlet-name>
    <url-pattern>/Bloodtable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveBlood</servlet-name>
    <servlet-class>controllers.RemoveBlood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBlood</servlet-name>
    <url-pattern>/RemoveBlood</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gethospitals</servlet-name>
    <servlet-class>controllers.Gethospitals</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gethospitals</servlet-name>
    <url-pattern>/Gethospitals</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bloodlisthos</servlet-name>
    <servlet-class>controllers.Bloodlisthos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bloodlisthos</servlet-name>
    <url-pattern>/Bloodlisthos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Userprofiledetail</servlet-name>
    <servlet-class>controllers.Userprofiledetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userprofiledetail</servlet-name>
    <url-pattern>/Userprofiledetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hosprofiledetail</servlet-name>
    <servlet-class>controllers.Hosprofiledetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hosprofiledetail</servlet-name>
    <url-pattern>/Hosprofiledetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Userpasschange</servlet-name>
    <servlet-class>controllers.Userpasschange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userpasschange</servlet-name>
    <url-pattern>/Userpasschange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hospasschange</servlet-name>
    <servlet-class>controllers.Hospasschange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hospasschange</servlet-name>
    <url-pattern>/Hospasschange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Userreqhandler</servlet-name>
    <servlet-class>controllers.Userreqhandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userreqhandler</servlet-name>
    <url-pattern>/Userreqhandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Userbloodreq</servlet-name>
    <servlet-class>controllers.Userbloodreq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userbloodreq</servlet-name>
    <url-pattern>/Userbloodreq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Useracceptreq</servlet-name>
    <servlet-class>controllers.Useracceptreq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Useracceptreq</servlet-name>
    <url-pattern>/Useracceptreq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Userverpass</servlet-name>
    <servlet-class>controllers.Userverpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userverpass</servlet-name>
    <url-pattern>/Userverpass</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Userverotp</servlet-name>
    <servlet-class>controllers.Userverotp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userverotp</servlet-name>
    <url-pattern>/Userverotp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Usernewchanged</servlet-name>
    <servlet-class>controllers.Usernewchanged</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usernewchanged</servlet-name>
    <url-pattern>/Usernewchanged</url-pattern>
  </servlet-mapping>
</web-app>